* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* Font---------------------------------- */
  --main-font: 'Poppins', sans-serif;
  --main-fw: 400;
  --main-fz: 14px;
  --secondary-fz: 13px;

  /* Colors-------------------------------- */
  --main-light: #fff;
  --main-dark: #000;
  --text-color: #c0c0c0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--main-fw);
  font-size: var(--main-fz);
  line-height: calc(20 / 14);
  color: var(--text-color);
}

/* Common styles--------------------------- */
.section {
  margin: 0px auto;
  width: 1170px;
}

.list {
  list-style-type: none;
}

.link {
  /* font:inherit; */
  color: currentColor;

  text-decoration: none;
}

.title {
  font-size: 40px;
  line-height: calc(42 / 40);
  color: var(--main-light);
}

.transform {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn {
  padding: 10px 20px;

  text-decoration: none;

  border: none;
  background-color: var(--main-light);
  border-radius: 14px;
  cursor: pointer;
}

/* Header----------------------------------- */
.header {
  background-color: #181818;
}

.header__container {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-left: 16px;
}

.header__menu {
  margin-left: 320px;
}

.header__list {
  display: flex;
}

.header__item {
  font-size: 13px;
  line-height: calc(20 / 13);
  color: var(--main-light);
}

.header__item:hover {
  color: rgb(71, 212, 255);
}

.header__item:not(:last-child) {
  margin-right: 32px;
}

.header__btn {
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--main-dark);

  letter-spacing: 0.4px;
}

.header__btn:hover,
.header__btn:focus {
  color: var(--main-light);
  background-color: var(--text-color);
}

/* Main------------------------------------- */

/* Hero------------------------------------- */
.hero {
  position: relative;
}

.hero__container {
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 441px;
  padding-bottom: 4px;
}

.hero__title {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);

  text-align: center;
}

.hero__subtitle {
  padding-bottom: 18px;

  font-weight: 400;
  font-size: 54px;
  line-height: calc(59 / 54);
  color: var(--main-light);

  text-align: center;
}
.hero__text {
  max-width: 580px;

  text-align: center;
}

.location {
  position: relative;
  z-index: 10;
}

.location__list {
  padding-bottom: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: end;
}

.location__item {
  display: flex;
}

.location__item:not(:first-child) {
  margin-left: 16px;
}

.location__pic {
  margin-right: 6px;
}

.location__desc {
  font-size: 12px;
  line-height: calc(12 / 12);
  color: var(--main-light);
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Work------------------------------------- */
.work {
  padding-bottom: 100px;

  background-color: var(--main-dark);
}

.work__container {
  padding-top: 120px;
  text-align: center;
}

.work__title {
  padding-bottom: 15px;
}

.work__subtitle {
  padding-bottom: 42px;

  font-size: 23px;
  line-height: 1.3;
  color: var(--text-color);
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  gap: 16px;
}

.work__item {
  position: relative;
  z-index: 10;
  max-width: 576px;
  max-height: 600px;
  padding-top: 420px;
}

.work__item:nth-child(1) {
  padding-right: 45px;
}

.work__item:nth-child(2) {
  padding-right: 32px;
}

.work__item:nth-child(3) {
  padding-right: 30px;
}

.work__item:nth-child(4) {
  padding-right: 66px;
}

.work__item:nth-child(1n + 3) {
  padding-top: 401px;
}

.list-container {
  position: relative;
  z-index: 10;

  padding-bottom: 30px;
  margin-left: 30px;
}

.work__caption {
  padding-bottom: 15px;

  color: var(--main-light);
}

.work__text {
  padding-bottom: 25px;
}

.work__link {
  display: inline-flex;
  align-items: center;
  padding: 1px 14px 1px 5px;

  color: #f5f0f0;

  border-radius: 14px;
  background-color: transparent;
}

.work__link:hover,
.work__link:focus {
  background-color: #c0c0c0a2;
}

.list__background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Photo------------------------------------- */
.photo {
  position: relative;
}

.photo-container {
  position: relative;
  z-index: 10;
  margin-left: 1080px;
  padding-top: 280px;
}

.photo__title {
  padding-bottom: 10px;

  font-weight: var(--main-fw);
  font-size: var(--main-fz);
  line-height: 1.43;
  color: var(--main-light);
}

.photo__text {
  max-width: 298px;
  padding-bottom: 204px;
}

/* Tools------------------------------------ */
.tools {
  display: flex;
}

.left {
  flex: 1 0 50%;
  padding: 160px 100px 0px;
  background-color: var(--main-dark);
}

.tools__title {
  padding-bottom: 6px;

  font-weight: var(--main-fw);
  font-size: var(--main-fz);
  line-height: 1.43;
}

.subtitle {
  padding-bottom: 14px;

  font-weight: var(--main-fw);
  font-size: 28px;
  line-height: 1.14;
  color: var(--main-light);
}

.tools__text {
  padding-bottom: 20px;
  max-width: 514px;

  color: var(--main-light);
}

.tools__link {
  display: inline-block;
  padding: 5px 7px;

  font-size: 16px;
  line-height: 20px;
  color: var(--main-dark);

  letter-spacing: 0.4px;

  background: var(--main-light);
  border-radius: 14px;
}

.tools__link:hover,
.tools__link:focus {
  color: var(--main-light);

  background-color: var(--main-dark);
  border: 2px solid rgb(71, 212, 255);
}

.right {
  position: relative;
  z-index: 10;
  flex: 1 0 50%;
}

.tools-location {
  padding-top: 470px;
}

/* Clients */
.clients {
  background-color: var(--main-dark);
}

.clients__header {
  padding-top: 112px;

  text-align: center;
}

.clients__title {
  padding-bottom: 15px;
}

.clients__subtitle {
  padding-bottom: 110px;

  font-weight: var(--main-fw);
  font-size: 24px;
  line-height: calc(30 / 24);
}

.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 170px;
}

/* Help------------------------------------- */
.help {
  background-color: var(--main-dark);
}

.help-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 115px;
}

.help__title {
  padding-bottom: 15px;
  max-width: 571px;
  text-align: center;
}

.help__desc {
  padding-bottom: 12px;

  font-size: 24px;
  line-height: calc(30 / 24);
}

.help__link {
  display: inline-block;
  margin-bottom: 108px;
  padding: 10px;

  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--main-dark);

  letter-spacing: 0.4px;

  background-color: var(--main-light);
  border-radius: 14px;
}

.help__link:hover,
.help__link:focus {
  color: var(--main-light);

  background-color: var(--main-dark);
  border: 2px solid rgb(71, 212, 255);
}
